
.title_content_top{
	/*
	height: 25px;
	padding: 6px;
	background-image:url(../../resources/img/public_01.gif) ;
	background-repeat: no-repeat;
	
	padding-top:5px;
	padding-left: 72px;
	position:absolute;  
	*/
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	
}


.title_content {
	font-size: 13px;
	color: #000000;
}

a {
	text-decoration : none;
	color: #333333;
}

.page_li{}