<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>    
        <property name="dialect" value="oracle" />   
        <property name="databaseType" value="oracle"></property>   
    </properties>    

	<typeAliases>
		<typeAlias alias="UserDTO" type="org.tang.jpa.dto.system.UserDTO"/>
		<typeAlias alias="ResourceDTO" type="org.tang.jpa.dto.system.ResourceDTO"/>
		<typeAlias alias="OperateLogDTO" type="org.tang.jpa.dto.system.OperateLogDTO"/>
		<typeAlias alias="LoginLogDTO" type="org.tang.jpa.dto.system.LoginLogDTO"/>
		<typeAlias alias="OrganizationDTO" type="org.tang.jpa.dto.system.OrganizationDTO"/>
		<typeAlias alias="RoleDTO" type="org.tang.jpa.dto.system.RoleDTO"/>
		<typeAlias alias="TreeDTO" type="org.tang.jpa.dto.system.TreeDTO"/>
		<typeAlias alias="VideoTreeDTO" type="org.tang.jpa.dto.system.VideoTreeDTO"/>
		<typeAlias alias="RoleResourceDTO" type="org.tang.jpa.dto.system.RoleResourceDTO"/>
		<typeAlias alias="DictoryDTO" type="org.tang.jpa.dto.system.DictoryDTO"/>
		<typeAlias alias="DepartmentDTO" type="org.tang.jpa.dto.system.DepartmentDTO"/>
		<typeAlias alias="NoticeDTO" type="org.tang.jpa.dto.system.NoticeDTO"/>
		
		<typeAlias alias="OptionsDTO" type="org.tang.jpa.dto.exam.OptionsDTO"/>
		<typeAlias alias="ExampaperDTO" type="org.tang.jpa.dto.exam.ExampaperDTO"/>
		<typeAlias alias="ExamPaperDetailsDTO" type="org.tang.jpa.dto.exam.ExamPaperDetailsDTO"/>
		<typeAlias alias="UserexamDTO" type="org.tang.jpa.dto.exam.UserexamDTO"/>
		<typeAlias alias="UserexamdetailsDTO" type="org.tang.jpa.dto.exam.UserexamdetailsDTO"/>
		
		
		<typeAlias alias="ArticleDTO" type="org.tang.jpa.dto.publicInformation.ArticleDTO"/>
		<typeAlias alias="PictureDTO" type="org.tang.jpa.dto.publicInformation.PictureDTO"/>
		<typeAlias alias="VideoDTO" type="org.tang.jpa.dto.publicInformation.VideoDTO"/>
		<typeAlias alias="OpinionDTO" type="org.tang.jpa.dto.publicInformation.OpinionDTO"/>
		<typeAlias alias="EmailDTO" type="org.tang.jpa.dto.publicInformation.EmailDTO"/>
		<typeAlias alias="Page" type="org.tang.jpa.utils.Page"/>
		
		
		<!-- 移动 -->		
		<typeAlias alias="MobileUserDTO" type="org.tang.jpa.dto.mobile.MobileUserDTO"/>
		<typeAlias alias="AttendanceDTO" type="org.tang.jpa.dto.mobile.AttendanceDTO"/>
		<typeAlias alias="AttendanceGraphDTO" type="org.tang.jpa.dto.mobile.AttendanceGraphDTO"/>
		<typeAlias alias="UserInfoDTO" type="org.tang.jpa.dto.mobile.UserInfoDTO"/>
		<typeAlias alias="ChatMsgDTO" type="org.tang.jpa.dto.mobile.ChatMsgDTO"/>
		<typeAlias alias="TaskWeeklyDTO" type="org.tang.jpa.dto.mobile.TaskWeeklyDTO"/>
		
		<!-- 考勤 -->
		<typeAlias alias="AttendanceStateDTO" type="org.tang.jpa.dto.attendance.AttendanceStateDTO"/>
		<typeAlias alias="AttendanceState" type="org.tang.jpa.dto.attendance.AttendanceState"/>
		<typeAlias alias="AttendanceStateDetailDTO" type="org.tang.jpa.dto.attendance.AttendanceStateDetailDTO"/>
	</typeAliases>
	
	<!-- 配置数据库分页的实现 -->  
	<plugins>  
       <plugin interceptor="org.tang.jpa.utils.PageInterceptor"></plugin>  
    </plugins>  
	<mappers>
		 <mapper resource="org/tang/jpa/config/system/User.xml" /> 
		 <mapper resource="org/tang/jpa/config/system/Resource.xml" /> 
		 <mapper resource="org/tang/jpa/config/system/LoginLog.xml" /> 
		 <mapper resource="org/tang/jpa/config/system/OperateLog.xml" /> 
		 <mapper resource="org/tang/jpa/config/system/Organization.xml" /> 
		 <mapper resource="org/tang/jpa/config/system/Role.xml" /> 		 
		 <mapper resource="org/tang/jpa/config/system/Dictory.xml" /> 		 
		 <mapper resource="org/tang/jpa/config/system/Department.xml" /> 
		 <mapper resource="org/tang/jpa/config/system/Notice.xml" /> 
		 
		 <mapper resource="org/tang/jpa/config/exam/Options.xml" /> 
		 <mapper resource="org/tang/jpa/config/exam/Exampaper.xml" /> 
		 <mapper resource="org/tang/jpa/config/exam/Exam.xml" /> 
		 
		 <mapper resource="org/tang/jpa/config/publicInformation/Article.xml" /> 
		 <mapper resource="org/tang/jpa/config/publicInformation/Opinion.xml" /> 
		 <mapper resource="org/tang/jpa/config/publicInformation/Video.xml" /> 
		 
		 
		 <!-- 移动客户端 -->
		 <mapper resource="org/tang/jpa/config/mobile/MobileUser.xml" /> 
		 <mapper resource="org/tang/jpa/config/mobile/Attendance.xml" /> 
		 <mapper resource="org/tang/jpa/config/mobile/AttendanceGraph.xml" /> 
		 <mapper resource="org/tang/jpa/config/mobile/ChatMsg.xml" /> 
		 <mapper resource="org/tang/jpa/config/mobile/TaskWeekly.xml" /> 
		 
		 <!-- 考勤 -->
		  <mapper resource="org/tang/jpa/config/attendance/AttendanceState.xml" /> 
		  <mapper resource="org/tang/jpa/config/attendance/AttendanceStateDetail.xml" /> 
	</mappers>
</configuration>

